In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
data = pd.read_csv('input/main.csv')
data.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs

In [14]:
# # from sklearn.impute import SimpleImputer
# # imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
# # imputer = imputer.fit(X)
# # X = imputer.transform(X)


data.groupby('product_description')['price'].mean()

data["price"] = data['price'].fillna(data.groupby('product_description')['price'].transform("mean"))

In [15]:
data.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs

In [16]:
data.to_csv('main.csv')